body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ebe6e6;
}
.container{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(41, 32, 32, 0.1);
    padding: 20px;
    background-color: #fff;
    text-align: center;
}
.image {
    width: 100px;
    height: 100px;
    background-color: #eaeaea;
    margin: 0 auto;
    border-radius: 8px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.pp {
    color: #888;
    font-size: 18px;
    margin: 5px 0;
}
.desc{
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}
.quantity-label {
    display: block;
    font-size: 14px;
    margin: 10px 0 5px;
}

.quantity-input {
    width: 50px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.total-price {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
.buy-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #218838;
}
